<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/style.css">
    <title>Titanicdataset Predictor</title>
  </head>
  <body class="bg-dark">
   <div class="container">
       <div class="row">
           <div class="card mt-50" style="width: 100%; height: 100%">
                <div class="card-header" style="text-align: center">
                    <h1>Welcome to Titanic Survival Prediction Model </h1>
                </div>

               <div class="card-body">
                   <div class="col-12" style="text-align: center">
                       <h5>This model will tell you whether the passenger is survived or not based on given details. Try to fill below details:</h5>
                   </div>
                   <br>
                   <form action="{{url_for('predict')}}" method="post">
                          <h3>Select the Passenger Ticket Class:</h3><br>
                          <select name="Ticket_class" id="ticket" required="required">
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                          </select>
                       <h3>Passenger's Gender:</h3><br>
                       <select name="Gender" id="Gender" required="required">
                           <option value="Male">Male</option>
                           <option value="Female">Female</option>
                       </select>
                       <h3>Enter the Age:</h3><br>
                       <input id="Age" name="Age" type="number">
                       <h3>Enter the number of siblings/spouces abroad the titanic between 0 to 8</h3><br>
                       <input id="SibSp" name="SibSp" type="number">
                       <h3> Enter the number of parents/children abroad the titanic between 0 to 6</h3><br>
                       <input id="Parch" name="Parch" type="number">
                       <h3>Enter the Fare:</h3><br>
                       <input id="Fare" name="Fare" type="number">

                       <br><br><button id="sub" type="submit">Click the button:</button>
                        <br>
                    </form>

                   <br><br><h3>{{prediction_text}}</h3>

               </div>
           </div>
       </div>
   </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
